# Исключаем node_modules, так как зависимости будут установлены в Docker
node_modules

# Игнорируем Git-репозиторий
.git

# Исключаем файлы логов
*.log

# Исключаем временные файлы, такие как файлы редакторов
.DS_Store
*.swp
*.tmp

# Исключаем выходные директории сборки (если есть)
dist
build
